<!DOCTYPE html>
<html>
    <head>
        <title>How to play {{ name }}</title>
        <style>
            body {
                font-family: "{{ font_family }}";
                margin: 0;
                padding: 0;
                background-color: #ffffff;
                font-size: 18px;
            }
            .container {
                width: 80%;
                margin: auto;
                padding: 20px;
            }
            h1 {
                color: #333;
            }
            h2 {
                color: #555;
            }
            p {
                color: #666;
                line-height: 1.5;
            }
            .section {
                margin-bottom: 20px;
                text-align: justify;
            }
            .section.story{
                background-clip: border-box;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0);
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                background-image: "{{ images_by_name.hero_image_for_box.image_paths[0] }}";
                line-height: 32.4px;
                margin-bottom: 30px;
                margin-left:  0px;
                margin-right:  0px;
                margin-top:  20px;
                padding-bottom:  8px;
                padding-left:  30px;
                padding-right:  30px;
                padding-top:  20px;
                text-align:  justify;
                text-size-adjust: 100%;
            }
            .section.components {
                display: flex;
                justify-content: space-between;
            }
            .container.action-list{
                margin-left:0;
            }
            .container.character-action{
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: flex-start;
                margin-left: 0;
            }

            .container.counteraction-action{
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: flex-start;
                margin-left: 0;
            }
            
            .col {
                width: 45%; /* This will set the width of each column to roughly half of the parent container. Adjust this value as needed. */
            }
            .hero-img {
                width: 1000px;
            }
            .note {
                background: {{note.background_color}};
                background-image: "{{note.background_image}}";
                {% if note.box_shadow %}
                    box-shadow: 0 1px 4px hsla(0,0%,0%,.25);
                {% endif %}
                border-radius: {{ note.border_radius }};
            }
            .note1 {
                /* TODO */
            }
            .note2 {
                /* TODO */
            }

        </style>
    </head>
    <body>
        <div class="container">
            <div class="hero-img-container"><img class="hero-img" src="{{ images_by_name.hero_image_for_box.image_paths[0] }}" alt="hero image"/></div>

            <div class="section story">
                {% for paragraph in story.text %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>


            {% for section in sections %}
                {% if section.type == "actions" %}
                  {{ section | action_section }}
                {% elif section.type == "components" %}
                  {{ section | components_section }}
                {% else %}
                  {{ section | normal_section }}
                 {% endif %}
            {% endfor %}
        </div>
    </body>
</html>